<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133676909368-gcii03tmt3gnh2bp1gf7frl3krtn3b82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133676909368-gcii03tmt3gnh2bp1gf7frl3krtn3b82</string>
	<key>API_KEY</key>
	<string>AIzaSyAoK2nEoQkreAw5apc8_T1xuu33edBXCoU</string>
	<key>GCM_SENDER_ID</key>
	<string>133676909368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appNotifiaciones</string>
	<key>PROJECT_ID</key>
	<string>lp-unah-pac-3</string>
	<key>STORAGE_BUCKET</key>
	<string>lp-unah-pac-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133676909368:ios:8e2d384b127ad7054277cd</string>
	<key>DATABASE_URL</key>
	<string>https://lp-unah-pac-3-default-rtdb.firebaseio.com</string>
</dict>
</plist>